#treeDiv1 {background: #fff; margin-top:0.3em; padding:1em; min-height:7em; font-size: 12px;}
#myAutoComplete {
    width:15em; /* set width here or else widget will expand to fit its container */
    padding-bottom:2em;
}
#myAutoComplete li {overflow:hidden; text-overflow:ellipsis; cursor:pointer; }
#myAutoComplete em {font-style:normal; font-weight:bold; color:#000033;}
#myAutoComplete .yui-ac-bd {font-size:12px; color:#666; background-color:#E1E7F3; text-align:left;}
div.otag {
width : 400px;
background-color:#E9F8F1;
border:1px solid #FFCC66;
margin:0 0 10px;
padding:5px 10px;
}

