#index_mode {
border:1px solid black;
clear:both;
margin-bottom:10px;
margin-left:auto;
margin-right:auto;
text-align:center;
width:400px;
cursor:pointer;
}
#container_left {
border:1px dashed Chocolate;
float:left;
padding:5px 15px 0;
width:200px;
}
#ontology_list li {
cursor:pointer;
}
#species_list li {
cursor:pointer;
}
#container_right {
border:1px dashed black;
margin-left:20px;
margin-right:auto;
padding:10px 0 10px 25px;
width:510px;
float:left
}
#treeDiv {
    text-align:left;
}